* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #141c2f;
  --bg-variant: #1f2a48;
  --light-blue: #0079fe;
  --light-text: #fffffe;
  --dark-blue: #056ce1;
  --text: #fffffe;
}

body {
  background-color: var(--background);
  font-family: 'NK57 Monospace', sans-serif;
  color: var(--text);
  height: 100vh;
  place-content: center;
  padding: 50px 0;
}

body.light {
  --background: #f5f8ff;
  --text: #c6cddc;
  --bg-variant: #fefefd;
  --light-text: #1f2a48;
}

body.light button {
  color: var(--bg-variant);
}

.container {
  width: 88%;
  max-width: 60rem;
  height: 500px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  color: var(--light-text);
}

h1 {
  font-size: 1.9rem;
}

.mode-toggle {
  font-size: 1.3rem;
  letter-spacing: 3.5px;
  display: flex;
}

.search {
  background-color: var(--bg-variant);
  padding: 15px;
  margin: 40px 0;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search i {
  font-size: 2.3rem;
  color: var(--dark-blue);
}

.search input {
  border: none;
  background-color: transparent;
  color: var(--text);
  font-family: inherit;
  font-size: .9rem;
  text-overflow: ellipsis;
  outline: none;
  justify-self: start;
}

.search input::placeholder {
  color: var(--text);
}

.search button {
  background-color: var(--light-blue);
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  color: var(--text);
  font-family: inherit;
  font-weight: 600;
}

.content {
  background-color: var(--bg-variant);
  padding: 30px;
  border-radius: 20px;
}

.profile {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-img {
  height: 100px;
  width: 100px;
  background-color: var(--text);
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
}

.profile-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-details h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.profile-details a {
  color: var(--dark-blue);
  font-size: .9rem;
  letter-spacing: 2.5px;
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
}

.profile-details .joined {
  font-size: 1.1rem;
  letter-spacing: 2.3px;
}

.bio {
  margin-top: 50px;
}

.bio p {
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 2.2;
}

.figures {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  border-radius: 15px;
  margin-top: 30px;
}

.figures div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
  letter-spacing: 1.2px;
}

.figures div span:last-child {
  font-weight: 800;
  font-size: 1.2rem;
}

.socials {
  margin-top: 40px;
}

.socials div {
  margin: 20px 0;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.socials div i {
  font-size: 2.2rem;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}



/* 

@media (min-width: 768px) {
  .container {
    max-width: 650px;
  }
}

@media (min-width: 940px) {
  .container {
    max-width: 60rem;
  }
} */